body {
font-family: 'Ubuntu', serif;
}

main {
    margin-top:2rem;
}

.total {
  text-align: center;
    font-size:2rem;
    font-weight: bolder;
}

/* ------------------------------------------------------------|
| EXPENSE TABLE
*-------------------------------------------------------------*/


.expenseTable {
    font-size:.8rem;
}

th,td {
    text-align: center;
}

.expense-warning {
    padding-left:1rem;
    font-size:.75rem;
    color: #6e090b;
}

.expense-search-input {
    margin-bottom:1rem;
}

.expense-search-icon {
    width: 20px;
    height: 20px;
    background-image: url('../gfx/magnifier.svg');
    background-size:20px 20px;
    background-position: center;
    background-repeat: no-repeat;

            box-sizing: border-box;

    position: relative;
    top:-1.9rem;
    left:90%;
    opacity: .5;

}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 700px) {

    .expense-search-icon {
        position: relative;
        top:-1.9rem;
        left:95%;

    }
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}