<!doctype html>
<html lang="en" ng-app="expenseTracker">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expense Tracker</title>


    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="build/bootstrap/dist/css/bootstrap.min.css">


    <!--CUSTOM STYLES-->
    <link rel="stylesheet" href="css/main.css">

    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!--FONT-AWESOME-->
    <link rel="stylesheet" href="build/fontawesome/svg-with-js/css/fa-svg-with-js.css">
    <script src="build/fontawesome/svg-with-js/js/fontawesome-all.js"></script>


    <!--BOOTSTRAP-->
    <script src="build/jquery/dist/jquery.min.js"></script>
    <script src="build/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="build/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <!--ANGULAR-->
    <script src="build/angular/angular.min.js"></script>
    <script src="js/angular/app.js"></script>

    <!--NGSTORAGE-->
    <script src="build/ngstorage/ngStorage.min.js"></script>

    <!--CHARTJS-->
    <script src="build/chart.js/dist/Chart.min.js"></script>
    <script src="build/angular-chart.js/dist/angular-chart.min.js"></script>


    <!--ANGULAR SERVICES-->
    <script src="js/angular/services/expenseService.js"></script>
    <script src="js/angular/services/dateService.js"></script>


    <!--ANGULAR CONTROLLERS-->
    <script src="js/angular/controllers/mainController.js"></script>

    <!--ANGULAR MODAL-->
    <link rel="stylesheet" href="build/angular-fancy-modal/dist/angular-fancy-modal.min.css">
    <link rel="stylesheet" href="build/angular-fancy-modal/dist/angular-fancy-modal-theme-classic.css">
    <script src="build/angular-fancy-modal/dist/angular-fancy-modal.min.js"></script>


</head>
<body>


<header>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ExpenseTracker <i class="fas fa-credit-card"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <!--<a class="nav-item nav-link" href="#">Features</a>-->
                <!--<a class="nav-item nav-link" href="#">Pricing</a>-->
                <!--<a class="nav-item nav-link disabled" href="#">Disabled</a>-->
            </div>
        </div>
    </nav>
    <!--ENDNAVBAR-->

</header>


<main>

    <div class="container" ng-controller="mainController" ng-cloak>
        <div class="row">
            <div class="col-md-12">


                <div class="jumbotron">

                    <canvas id="doughnut" class="chart chart-doughnut" ng-if="expenses.data.length !== 0"
                            chart-data="data" chart-labels="labels">
                    </canvas>


                    <div class="total">
                        Total Expenses: CAD {{expenses.totalAmount}}
                    </div>


                </div>
                <form class=" expense-search-input col-md-12">
                    <input class="form-control col-md-12" ng-model="keyword" type="search" placeholder="Search"
                           aria-label="Search">
                    <div class="expense-search-icon"></div>

                    <select class="form-control  custom-select"
                            ng-model="filter.month" ng-options="month.id as month.name for month in months">

                    </select>

                    <select class="form-control  custom-select"
                            ng-model="filter.week"
                            ng-options="week.id as week.label for week in months[filter.month].weeks">

                    </select>


                </form>


                <table class="table expenseTable">
                    <thead class="thead-dark">
                    <tr>

                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Category</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-if="expenses.data.length > 0"
                        ng-repeat="expense in expenses.data | filter: (filter.week === 0 ? {description:keyword, month:filter.month} : {description:keyword, month:filter.month, week:filter.week})">




                        <!--<td>{{expense.date.getMonth() + 1 + '/' + expense.date.getDate() + '/' + expense.date.getFullYear() }}</td>-->
                        <td>{{expense.date | date:'MM/dd/yyyy'}}</td>
                        <td>{{expense.description}}</td>
                        <td>CAD {{expense.amount}}</td>
                        <td>{{expense.category}}</td>
                    </tr>

                    </tbody>
                </table>

                <p ng-if="expenses.data.length === 0" class="expense-warning">
                    Please, click below to add a new expense...
                </p>


                <button type="button" class="btn btn-danger btn-block" ng-click="openExpenseModal()">Add Expense
                </button>
            </div>
        </div>
    </div>


    <aside>
        <!--some complementary information here.. optional-->
    </aside>

</main>


<footer>

</footer>


</body>
</html>